<app-menu></app-menu>
<div class="container">



<form [formGroup]="todoForm" (ngSubmit)="todoFormSubmit(todoForm.value)" >
<div >
  <mat-form-field>
    <input formControlName="title" matInput placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <textarea formControlName="desc" matInput placeholder="Description"></textarea>
  </mat-form-field>


  <button mat-raised-button type="submit" mat-button>Add Todo</button>


</div>


</form>

<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let todo"> {{todo.title}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let todo"> {{todo.desc}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let todo"> {{todo.status}} </mat-cell>
  </ng-container>



  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


</div>
<!-- /.container -->
